/* Buttons */
.btn-custom {
    background: linear-gradient(135deg, #ff9966, #ff5e62);
    border: none;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
}
.btn-custom:hover {
    background: linear-gradient(135deg, #ff5e62, #ff9966);
    transform: scale(1.05);
    color: white;
}

/* Custom File Input */
.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px); /* Match form-control height */
    margin-bottom: 0;
}

.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + .75rem + 2px); /* Match form-control height */
    margin: 0;
    opacity: 0;
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + .75rem + 2px); /* Match form-control height */
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + .75rem);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
}

/* Poster Hover Effect */
.big-banner {
    overflow: hidden; /* Ensures the scaled image doesn't overflow */
}

.big-banner img {
    transition: transform 0.3s ease-in-out;
}

.big-banner img:hover {
    transform: scale(1.03);
}

.event-card {
    overflow: hidden; /* Ensures the scaled image doesn't overflow */
}

.event-card img {
    transition: transform 0.3s ease-in-out;
}

.event-card img:hover {
    transform: scale(1.03);
}